body {
    background-color: #f7f7f7;
}

.flex-flow-column {
    flex-flow: column;
}
.border-right-solid {
    border-right: 1px solid;
}
.justify-content-flex-end {
    justify-content: flex-end;
}
.rounded {
    border-radius: 2rem !important;
}
.form-control,
.btn {
    border-radius: 2rem;
}
.btn-outline-secondary:hover {
    color: #000;
    background-color: #ffbfa3;
    border-color: #ffbfa3;
}
$base-color-1: #38908f;
$base-color-2: #b2ebe0;
$base-color-3: #5e96ae;
$base-color-4: #ffbfa3;
$base-color-5: #e08963;
